<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" href="#">Rest API</a>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" routerLink="/users">Users</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/add-user">Add User</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/comments">Comments</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/add-comment">Add Comment</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
